body {
  background-color: #31353D;
  font-family: "Lucida Console", Monaco, monospace;
}

hr {
  border-color: #445878;
  background-color: #445878;
  margin: 2em;
  width: 80%;
  margin: auto;
}

.project-body {
  min-width: 300px;
  width: 70%;
  margin: auto;
  padding-bottom: 1em;
}


/*

1C1D21 black
31353D slate grey
445878 lighter slate
92CDCF light slate teal
EEEFF7 very light slate teal

*/
