.social-icons li {
  display: block;
  float: left;
  margin-right: 5px;
  margin-bottom: 5%;
}

.site-navbar li a {
  display: inline-block;
  margin-right: .75em;
  margin-left: .75em;
  padding: .5em .25em;
  border-radius: 15%;
  color: #A9DAD9;
}

.site-navbar {
  margin:0;
  padding:0;
  display: inline-block;
  list-style: none;
  background: rgba(28, 29, 33, 0.6);
  width: 100%
}

nav {
  text-align: center;
}
.site-navbar li {
  clear: both;
  margin: auto;
  display: inline-block;
  text-decoration: none;
  color: #92CDCF;
}

#about ul li {
  display: block;
  text-decoration: none;
  color: #92CDCF;
}

  footer {
    clear: both;
    display:inline-block;
    color: #92CDCF;
    bottom: 0px;
    width: 100%;

  }

  footer li a {
    margin-right: 1.5em;
    padding: .5em .25em;
    color: #92CDCF;
  }

  #me {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    width: 30%;
    height: 30%;
  }

  #hammer {
    clear: both;
    display: block;
    margin: auto;
    width: 20%;
    height: 20%;

  }
  .rounded {
        border-radius: 80%;
  }
    h1, h2 {
      display: block;
      text-align: center;
      clear: both;
      color: #92CDCF;
      margin: auto;
      padding-top: 1em;
      font-size: 1em;
    }

    .template {
      display:none;
    }

    .project-body {
      width: 860px;
      max-width: 100%;
      min-width: 300px;
    }

  /*

  1C1D21 black
  31353D slate grey
  445878 lighter slate
  92CDCF light slate teal
  EEEFF7 very light slate teal

  */
